<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-8">

      <div class="form-login">
        <h2>Bookings</h2>
        <h3><%= @instrument.name %></h3>
        <h3>Price: $ <span id='price'><%= @instrument.price %></span></h3>

        <%= simple_form_for [@instrument, @booking] do |f| %>
          <%= f.input :start_date, as: :date,
                html5: true %>
          <%= f.input :return_date, as: :date,
                html5: true %>
          <%= f.submit "Book now", class: "btn btn-flat btn-lg btn-block btn-booking" %>
        <% end %>
    </div>

    <div class="d-flex justify-content-between mt-3">
      <h3 class='pb-1'>Total: $ <span id='value'></span></h3>
      <button onclick="calc()" class='btn btn-outline-success mb-2'>Calculate</button>
    </div>

  </div>
</div>




<script type="text/javascript">
  function totalDays()
  {
    var dropdt = document.getElementById("booking_return_date").valueAsDate;
    var pickdt = document.getElementById("booking_start_date").valueAsDate;
    return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
  }

  function calc()
{
  if (totalDays() > 0) {
    document.getElementById('value').innerHTML=totalDays()*parseInt(document.getElementById('price').innerHTML);
  }else {
    document.getElementById('value').innerHTML="";
  }

}
</script>
