<div class="container">
  <div class="row justify-content-center">

    <div class="form-login">
      <%= simple_form_for(instrument) do |f| %>
        <%= f.input :name %>
        <%= f.input :instrument_type %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
      </div>

    </div>
  </div>
</div>
