<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_url('instruments.jpg')%>);">
  <div class="container">
    <h1><strong>Rent</strong> yout instrument with Sinatrent</strong>!</h1>
      <p>Thousands of people are renting an instrument, be the next one !</p>

           <%= link_to "Create an instrument", new_instrument_path, class: "btn-flat" if policy(Instrument).new? %></a>

  </div>
</div>


<div class="container">
  <div data-controller="refresh-list">
    <%= form_with url: instruments_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Type a instrument name',
                      value: params[:query],
                      data: {
                        refresh_list_target: 'searchInput',
                        action: "keyup->refresh-list#update"
                      } %>
    <% end %>
    <%= render "list", instruments: @instruments %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
