
<div class="container">
  <div class="card-product">
    <%= cl_image_tag @instrument.photo.key %>
    <div class="card-product-infos">
      <h2> <%= @instrument.name %> </h2>
      <span><%= @instrument.description %></span>
      <p> R$ <%= @instrument.price %> </p>


      <% unless @instrument.user_id == current_user.id %>
        <%= link_to "Book now", new_instrument_booking_path(@instrument), class: "btn btn-flat" %>
      <% end %>
      <% if policy(@instrument).edit? %>
        <%= link_to "Edit", edit_instrument_path(@instrument), class: "btn btn-warning mt-2" %>
      <% end %>
        <%= link_to "Delete", instrument_path(@instrument), class: "btn btn-danger mt-2",
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@instrument).destroy?
      %>
    </div>
  </div>
</div>
